.DS_Store
*.json
node_modules/
server/node_modules/
server/contracts/
client/src/contracts/
client/src/contracts/Migrations.json
client/src/contracts/SimpleStorage.json
server/contracts/Migrations.json
server/contracts/SimpleStorage.json
server/package-lock.json
