.navigation {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #2a2e33;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: cursive;
}

.container > span {
  padding: 5px 20px;
  border-radius: 10px;
  background: #073848;
  color: white;
}

.container > span:nth-child(2) {
  background: #052e3c;
  margin-left: -10px;
}